In [1]:
import pandas as pd
X_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_test.csv")

In [4]:
X_train.isnull().sum()

id                   0
age                 12
workclass         1662
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

In [6]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29304 entries, 0 to 29303
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              29304 non-null  int64
 1   age             29292 non-null  float64
 2   workclass       27642 non-null  object
 3   fnlwgt          29304 non-null  int64
 4   education       29304 non-null  object
 5   education.num   29304 non-null  int64
 6   marital.status  29304 non-null  object
 7   occupation      27636 non-null  object
 8   relationship    29304 non-null  object
 9   race            29304 non-null  object
 10  sex             29304 non-null  object
 11  capital.gain    29304 non-null  int64
 12  capital.loss    29304 non-null  int64
 13  hours.per.week  29291 non-null  float64
 14  native.country  28767 non-null  object
dtypes: float64(2), int64(5), object(8)
memory usage: 3.4+ MB

In [8]:
X_train['workclass'].value_counts()

workclass
Private             20451
Self-emp-not-inc     2292
Local-gov            1863
State-gov            1170
Self-emp-inc          991
Federal-gov           856
Without-pay            13
Never-worked            6
Name: count, dtype: int64

In [9]:
X_train['occupation'].value_counts()

occupation
Prof-specialty       3683
Craft-repair         3677
Exec-managerial      3632
Adm-clerical         3411
Sales                3295
Other-service        2993
Machine-op-inspct    1822
Transport-moving     1434
Handlers-cleaners    1223
Farming-fishing       891
Tech-support          842
Protective-serv       590
Priv-house-serv       135
Armed-Forces            8
Name: count, dtype: int64

In [10]:
X_train['native.country'].value_counts()

native.country
United-States                 26240
Mexico                          576
Philippines                     178
Germany                         120
Canada                          109
Puerto-Rico                      98
India                            91
El-Salvador                      91
Cuba                             87
England                          79
Jamaica                          77
South                            75
China                            70
Italy                            68
Vietnam                          64
Dominican-Republic               63
Japan                            56
Columbia                         55
Guatemala                        53
Poland                           50
Taiwan                           50
Haiti                            40
Iran                             37
Portugal                         33
Nicaragua                        32
Greece                           27
Ecuador                          26
France                           26
Peru                             24
Ireland                          22
Hong                             19
Thailand                         17
Cambodia                         17
Laos                             17
Yugoslavia                       15
Trinadad&Tobago                  14
Hungary                          13
Honduras                         13
Scotland                         12
Outlying-US(Guam-USVI-etc)       12
Holand-Netherlands                1
Name: count, dtype: int64

In [11]:
X_train.shape, X_test.shape

(29304, 15)

In [14]:
df = X_train.dropna(axis=0)
df.isnull().sum()
df.shape

(27096, 15)

In [15]:
df = X_train.dropna(subset='native.country')
print(df.isnull().sum())
print(df.shape)

id                   0
age                 12
workclass         1640
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1646
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country       0
dtype: int64
(28767, 15)

In [16]:
df = X_train.dropna(subset=['native.country', 'workclass'])
print(df.isnull().sum())
print(df.shape)

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         6
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
dtype: int64
(27127, 15)

In [19]:
df = X_train.dropna(axis=1) # 결측치가 있는 컬럼 제거
df.isnull().sum()

id                0
fnlwgt            0
education         0
education.num     0
marital.status    0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
dtype: int64

In [20]:
df = X_train.drop(['workclass'], axis=1)
df.isnull().sum()

id                   0
age                 12
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

In [21]:
print(X_train.shape)
df = X_train.drop_duplicates()
print(df.shape)

(29304, 15)
(29304, 15)

In [25]:
m = X_train['workclass'].mode()[0]
X_train['workclass'] = X_train['workclass'].fillna(m)
X_train.isnull().sum()

id                   0
age                 12
workclass            0
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1668
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week      13
native.country     537
dtype: int64

In [26]:
X_train['occupation'] = X_train['occupation'].fillna('X')
X_train.isnull().sum()

id                  0
age                12
workclass           0
fnlwgt              0
education           0
education.num       0
marital.status      0
occupation          0
relationship        0
race                0
sex                 0
capital.gain        0
capital.loss        0
hours.per.week     13
native.country    537
dtype: int64

In [27]:
X_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/y_train.csv")
X_test = pd.read_csv("https://raw.githubusercontent.com/lovedlim/inf/main/p2/data_atype/X_test.csv")

In [28]:
X_train['workclass'] = X_train['workclass'].fillna(X_train['workclass'].mode()[0])
X_train['occupation'] = X_train['occupation'].fillna('X')
X_train['native.country'] = X_train['native.country'].fillna(X_train['native.country'].mode()[0])
X_train.isnull().sum()

id                 0
age               12
workclass          0
fnlwgt             0
education          0
education.num      0
marital.status     0
occupation         0
relationship       0
race               0
sex                0
capital.gain       0
capital.loss       0
hours.per.week    13
native.country     0
dtype: int64

In [29]:
X_test['workclass'] = X_test['workclass'].fillna(X_test['workclass'].mode()[0])
X_test['occupation'] = X_test['occupation'].fillna('X')
X_test['native.country'] = X_test['native.country'].fillna(X_test['native.country'].mode()[0])
X_test.isnull().sum()

id                0
age               6
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    9
native.country    0
dtype: int64

In [30]:
X_train['age'].mean()

38.553222722927764

In [31]:
print(X_train['hours.per.week'].min())
print(X_train['hours.per.week'].max())
print(X_train['hours.per.week'].median())

1.0
99.0
40.0

In [32]:
value = int(X_train['age'].mean())
X_train['age'] = X_train['age'].fillna(value)
X_test['age'] = X_test['age'].fillna(value)

In [33]:
value = int(X_train['hours.per.week'].median())
X_train['hours.per.week'] = X_train['hours.per.week'].fillna(value)
X_test['hours.per.week'] = X_test['hours.per.week'].fillna(value)

In [36]:
print(X_train.isnull().sum())
print(X_test.isnull().sum())

id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64
id                0
age               0
workclass         0
fnlwgt            0
education         0
education.num     0
marital.status    0
occupation        0
relationship      0
race              0
sex               0
capital.gain      0
capital.loss      0
hours.per.week    0
native.country    0
dtype: int64

In [37]:
X_train.describe()

,id,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week
count,29304.000000,29304.000000,2.930400e+04,29304.000000,29304.000000,29304.000000,29304.000000
mean,16264.027880,38.552996,1.897488e+05,10.080842,1093.858722,86.744506,40.434036
std,9384.518323,13.626025,1.055250e+05,2.570824,7477.435640,401.518928,12.321306
min,0.000000,-38.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,8145.750000,28.000000,1.177890e+05,9.000000,0.000000,0.000000,40.000000
50%,16253.500000,37.000000,1.783765e+05,10.000000,0.000000,0.000000,40.000000
75%,24374.250000,48.000000,2.370682e+05,12.000000,0.000000,0.000000,45.000000
max,32560.000000,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [40]:
X_train[X_train['age']<=0]

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
39,29188,-33.0,Private,263561,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,60.0,United-States
79,14325,-38.0,Private,22245,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60.0,United-States
26161,4292,-25.0,Private,200681,Some-college,10,Never-married,X,Own-child,White,Male,0,0,40.0,United-States

In [42]:
X_train = X_train[X_train['age']>0]
X_train.shape

(29301, 15)